@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* variables-light.css */
.light-theme {
  --primary: #315070;
  --surface-tint: #426181;
  --on-primary: #FFFFFF;
  --primary-container: #567597;
  --on-primary-container: #FFFFFF;
  --secondary: #545F6E;
  --on-secondary: #FFFFFF;
  --secondary-container: #D9E5F6;
  --on-secondary-container: #3F4A57;
  --tertiary: #614369;
  --on-tertiary: #FFFFFF;
  --tertiary-container: #88678F;
  --on-tertiary-container: #FFFFFF;
  --error: #BA1A1A;
  --on-error: #FFFFFF;
  --error-container: #FFDAD6;
  --on-error-container: #410002;
  --background: #FAF9FC;
  --on-background: #1A1C1E;
  --surface: #FAF9FC;
  --on-surface: #1A1C1E;
  --surface-variant: #DFE2EA;
  --on-surface-variant: #43474D;
  --outline: #73777E;
  --outline-variant: #C3C7CE;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #2F3033;
  --inverse-on-surface: #F1F0F3;
  --inverse-primary: #AAC9EF;
  --primary-fixed: #D0E4FF;
  --on-primary-fixed: #001D35;
  --primary-fixed-dim: #AAC9EF;
  --on-primary-fixed-variant: #294968;
  --secondary-fixed: #D8E3F4;
  --on-secondary-fixed: #111C28;
  --secondary-fixed-dim: #BCC7D8;
  --on-secondary-fixed-variant: #3D4855;
  --tertiary-fixed: #FBD7FF;
  --on-tertiary-fixed: #2B1033;
  --tertiary-fixed-dim: #E0BAE6;
  --on-tertiary-fixed-variant: #5A3C61;
  --surface-dim: #DADADC;
  --surface-bright: #FAF9FC;
  --surface-container-lowest: #FFFFFF;
  --surface-container-low: #F4F3F6;
  --surface-container: #EEEDF0;
  --surface-container-high: #E8E8EB;
  --surface-container-highest: #E3E2E5;
}

/* variables-dark.css */
.dark-theme {
  --primary: #AAC9EF;
  --surface-tint: #AAC9EF;
  --on-primary: #0E3251;
  --primary-container: #3D5C7D;
  --on-primary-container: #FFFFFF;
  --secondary: #BCC7D8;
  --on-secondary: #26313E;
  --secondary-container: #35404E;
  --on-secondary-container: #C9D5E6;
  --tertiary: #E0BAE6;
  --on-tertiary: #422649;
  --tertiary-container: #6E4F75;
  --on-tertiary-container: #FFFFFF;
  --error: #FFB4AB;
  --on-error: #690005;
  --error-container: #93000A;
  --on-error-container: #FFDAD6;
  --background: #121316;
  --on-background: #E3E2E5;
  --surface: #121316;
  --on-surface: #E3E2E5;
  --surface-variant: #43474D;
  --on-surface-variant: #C3C7CE;
  --outline: #8D9198;
  --outline-variant: #43474D;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #E3E2E5;
  --inverse-on-surface: #2F3033;
  --inverse-primary: #426181;
  --primary-fixed: #D0E4FF;
  --on-primary-fixed: #001D35;
  --primary-fixed-dim: #AAC9EF;
  --on-primary-fixed-variant: #294968;
  --secondary-fixed: #D8E3F4;
  --on-secondary-fixed: #111C28;
  --secondary-fixed-dim: #BCC7D8;
  --on-secondary-fixed-variant: #3D4855;
  --tertiary-fixed: #FBD7FF;
  --on-tertiary-fixed: #2B1033;
  --tertiary-fixed-dim: #E0BAE6;
  --on-tertiary-fixed-variant: #5A3C61;
  --surface-dim: #121316;
  --surface-bright: #38393C;
  --surface-container-lowest: #0D0E10;
  --surface-container-low: #1A1C1E;
  --surface-container: #1E2022;
  --surface-container-high: #292A2C;
  --surface-container-highest: #333537;
}